@import "@/node_modules/bootstrap/scss/functions";
@import "@/node_modules/bootstrap/scss/variables";

// Theme color
$primary-text: #273849;
$background-color-pre: #f8f8f8;
$border-color: #ddd;

$enable-responsive-font-sizes: true;
