@import "@/node_modules/bootstrap/scss/functions";
@import "@/node_modules/bootstrap/scss/variables";

// Theme color
$ink-blue: #273849;
$light-grey: #f8f8f8;
$border-grey: #ddd;

$enable-responsive-font-sizes: true;
