// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation of the site/application.
// -----------------------------------------------------------------------------
.nav--color {
  background-color: $bootstrap-nav-color;
}

.nav_items {
  opacity: 90%;
  color: $light-grey;
}
.nav_language {
  a {
    text-align: center;
  }
}

.nav_li {
  list-style-type: none;
  margin-bottom: 0;
  padding:0;

  .nav_li_link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: $light-grey;

    opacity: 70%;
    &:hover {
      opacity: 100%;
    }
  }

  .nav_li_svg {
    height: 1rem;
    width: 1rem;
  }
    

}