/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
  font-size: $current-font;
  font-weight: 400;
  line-height: 1.5;
  font-family: $nuxt-font-family;
}

*,:after,:before {
  box-sizing: border-box;
  border:0 solid #e2e8f0;
}